.col{
    box-sizing: border-box;
    margin:20px;
    border:1px  solid #999;
    background-color: #eee;
    height: 50px;
    float: left;
 }
.row::before,
.row::after{
   content:"";
   clear: both;
   display: table;
 }
.container{
   box-sizing: border-box;
   border: 1px solid #999;
   padding: 10px;
 }
.col-sm-2{
   width: 15%;
 }
.col-sm-3{
   width: 42%;
 }
.col-sm-6{
   width: 45%;
 }
.col-md-8{
   width: 60%;
 }
.col-md-12{
   width: 90%;
 }